<h1>Incomplete Form!</h1>

<p>You are missing some info on your sighting or animal form.</p>
<p>Please hit the home button below or your browser's back button and try again.</p>

<a href="/"><button class="btn btn-info">Home</button></a>
